.mat-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.bg-white {
    background-color: white !important;
}

.text-blue-600 {
    color: var(--color-blue-600) /* oklch(62.3% 0.214 259.815) */;
}

.text-red-600 {
    color: var(--color-red-600) /* oklch(57.7% 0.245 27.325) */;
}